body{
background:#EEECEC;
}

#contenedor{
  margin:0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
  height:1200px;
  width: 1200px;

}

#tiara{
  margin-top:320px;
position:fixed;
  height:200px;
  width:230px;
  background-image: url(tiara.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top:-400px;
}

#pelo{
  margin-top:150px;
  width:380px;
  height:500px;
  position: fixed;
  background-color: black;
  border-radius: 60px 60px 0 0
}
#jersey{
  position:fixed;
  border: 2px solid black;
  width: 390px;
    height:150px;
    background: white;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 500px 500px 0 0;
    margin-top:500px;
}

#taparjersey1{
height:200px;
width:50px;
position:fixed;
margin-top:450px;
background-color: black;
margin-left:300px;
}
#taparjersey2{
height:200px;
width:40px;
position:fixed;
margin-top:450px;
background-color: black;
margin-left:-230px;
}

#taparjersey3{
height:200px;
width:50px;
position:fixed;
margin-top:450px;
background-color: black;
margin-left:-330px;
}


#bolanegra{
  position:fixed;
  height:60px;
  width:300px;
  background-color: black;
margin-top:-50px;
}

#taparcara{
  background-color: black;
  height:150px;
  width:300px;
  position: fixed;
  margin-top:40px;
}

#cara{
  position:fixed;
  display: flex;
  width: 300px;
 height: 270px;
 border: 2px solid #555;
 background: #F2D7BA;
 -webkit-border-bottom-left-radius: 170px 230px;
-webkit-border-bottom-right-radius: 170px 230px;
text-align: center;
justify-content: center;
}

.ojos{
  position:fixed;
height:30px;
width:85px;
float:left;
justify-content: center;
text-align: center;
margin-top:50px;

}

#ojoizq{
margin-right:165px;
border-radius: 56% 44% 45% 55% / 100% 17% 83% 0%  ;
border-top: 6px solid black;
border-right:3px solid black;
border-left:1px solid black;
transform:rotate(2deg);
transform: scaleX(-1);
}

#ojoder{
margin-left:165px;
border-radius: 56% 44% 45% 55% / 100% 17% 83% 0%  ;
border-top: 6px solid black;
border-right:3px solid black;
border-left:1px solid black;
transform:rotate(2deg);
}

#iris{
  height:40px;
  width:40px;
  background-color: #330000;
  clip-path: circle(50% at 50% 39%);
  margin-top:52px;
  margin-left: 166px;
  position:fixed;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%
}

#irisizq{
  height:40px;
  width:40px;
  background-color: #330000;
  clip-path: circle(50% at 50% 39%);
  margin-top:52px;
  margin-left: -156px;
  position:fixed;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%
}
#pupila{
  margin-left:166px;
  margin-top:60px;
  position: fixed;
  height:15px;
  width:15px;
  -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background-color: black
}

#pupilaizq{
  margin-left:-156px;
  margin-top:60px;
  position: fixed;
  height:15px;
  width:15px;
  -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background-color: black
}

#nariz{
  margin-top:135px;
  position:fixed;
  float:left;
  width: 60px;
   height: 30px;
   border-top: 2px solid #555;
   border-radius: 100px 100px 0 0;
}

#blush1{
  margin-top:90px;
  position: fixed;
  margin-left:-200px;
  float:left;
  width: 90px;
     height: 50px;
     border-color: #B97170;
     border-width: medium;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     opacity:70%;
     -moz-transform:rotate(0deg);
     -webkit-transform: rotate(5deg);
    background:radial-gradient(circle, rgba(255,0,0,0.24695815826330536) 0%, rgba(255,105,105,0) 100%)

}


#blush2{
  margin-left:200px;
  margin-top:90px;
  position: fixed;
  float:left;
  width: 90px;
     height: 50px;
     border-color: #B97170;
     border-width: medium;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     opacity:70%;
     -moz-transform:rotate(0deg);
     -webkit-transform: rotate(-5deg);
    background:radial-gradient(circle, rgba(255,0,0,0.24695815826330536) 0%, rgba(255,105,105,0) 100%);
}

#eyeliner1{
  position:fixed;
  margin-top:22.5px;
  margin-left:-262px;
  width: 40px;
   height: 30px;
   border-right: 4px solid black;
       border-radius: 0px 0px 100px 30px;
       transform:rotate(75deg);
}

#eyeliner2{
  position:fixed;
  margin-top:24px;
  margin-left:266px;
  width:38px;
   height: 30px;
   border-right: 4px solid black;
       border-radius:  0 150px  0  150px;
       transform:rotate(102deg)

}


#highlighter1{
  background:radial-gradient(circle, rgba(255,255,255,1) 34%, rgba(255,205,205,0.24695815826330536) 67%, rgba(255,230,230,0) 100%);
  height:25px;
  width:25px;
  border-radius: 50%;
  position:fixed;
  margin-top:75px;
  margin-left:70px;
  opacity: 40%
}

#highlighter2{
  background:radial-gradient(circle, rgba(255,255,255,1) 34%, rgba(255,205,205,0.24695815826330536) 67%, rgba(255,230,230,0) 100%);
  height:25px;
  width:25px;
  border-radius: 50%;
  position:fixed;
  margin-top:75px;
  margin-left:-70px;
  opacity: 40%
}
#labios1{
  position:fixed;
  margin-top:110px;
  margin-left:-80px;
  width: 30px;
   height: 20px;
   border-right: 2px solid #555;
       border-radius: 0px 0px 150px 0;
       transform:rotate(80deg);
  }
  #labios2{
    position:fixed;
    margin-top:133px;
    width: 62px;
    height:3px;
     border-top:2.5px solid #555;
         transform:rotate(180deg);

    }

  #labios3{
    position:fixed;
    margin-top:117px;
    margin-left:75px;
    width: 20px;
     height: 20px;
     border-right: 2px solid #555;
         border-radius:  0 150px  0  150px;
         transform:rotate(90deg);
    }
#labioscolor{
  position:fixed;
  margin-top:135px;
    height:30px;
    width:90px;
background: radial-gradient(circle, rgba(255,0,0,0.5214679621848739) 0%, rgba(255,0,0,0.02006740196078427) 100%);
border-radius: 50% 50% 52% 48% / 53% 55% 45% 47% ;
}

#cejader{
  position: fixed;
  height:90px;
  width: 120px;
  clip-path: polygon(64% 30%, 100% 46%, 70% 45%, 0 54%, 0% 38%);
background:black;
opacity:60%;
margin-top:-220px;
margin-right:-180px;
}

#cejaizq{
  position: fixed;
  height:90px;
  width: 120px;
  clip-path: polygon(64% 30%, 100% 46%, 70% 45%, 0 54%, 0% 38%);
  background:black;
  opacity:60%;
  margin-top:-220px;
margin-right:180px;
transform:scaleX(-1);
}
#taparflequillo{
  clip-path: ellipse(50% 6% at 48% 13%);
background-color: #F2D7BA;
width:308px;
height:420px;
position:fixed;
margin-top:-40px;
margin-left:8px;
}

#cuello{
  width: 220px;
  height:150px;
  background-color:#F2D7BA;
  position: fixed;
  margin-top:250px;
  border: 2px solid #555;

}

#taparcuello1{
  background-color:black;
  width:80px;
  height:140px;
position: fixed;
border-radius: 5% 95% 80% 67% / 32% 0% 100% 0% ;
margin-top:300px;
margin-left: -250px;
}

#taparcuello2{
  background-color:black;
  width:80px;
  height:140px;
position: fixed;
border-radius: 5% 95% 33% 67% / 32% 0% 100% 68%  ;
margin-top:300px;
margin-left: 250px;
}

#redondacuello{
  background-color: #F2D7BA;
  width:500px;
  height:250px;
  clip-path: ellipse(25% 12% at 50% 50%);
position: fixed;
margin-top: 400px;
}

#flequillo{
  position:fixed;
  width: 380px;
    height:200px;
    background: black;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 500px 500px 0 0;
    margin-top:-390px;
}

#mechon1{
  position: fixed;
width: 100px;
height: 230px;
-moz-border-radius: 20%;
-webkit-border-radius: 20%;
border-radius: 120%;
-moz-box-shadow: 80px 50px 29px black;
-webkit-box-shadow: 80px 50px 29px black;
box-shadow: 20px 10px 0px black;
margin-left:200px;
margin-top:-220px;
}

#mechon2{
  position: fixed;
  width: 110px;
  height: 180px;
     transform: translate(-50%, -60%);
     box-shadow: -20px 10px 0 0px black  ;
     border-radius: 50%;
  margin-left:-80px;
  margin-top:40px;

}


#oreja1{
  position:fixed;
  margin-top:-100px;
  margin-left: 322px;
  height: 100px;
  width:40px;
  background-color:#F2D7BA;
  border: 2px solid #555;
  border-radius: 24% 76% 86% 14% / 100% 29% 71% 0% ;
}

#oreja2{
  position:fixed;
  margin-top:-100px;
  margin-left: -322px;
  height: 100px;
  width:40px;
  background-color:#F2D7BA;
  border: 2px solid #555;
  border-radius: 24% 76% 86% 14% / 100% 29% 71% 0% ;
  transform: scaleX(-1);
}

#ojosluz1{
  background: radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(255,205,205,0.24695815826330536) 50%, rgba(255,255,255,0.1601234243697479) 100%);

  height:10px;
  width:10px;
  border-radius:50%;
  position:fixed;
margin-right:150px;
margin-top:58px;
opacity:70%;
}
#ojosluz2{
  background: radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(255,205,205,0.24695815826330536) 50%, rgba(255,255,255,0.1601234243697479) 100%);

  height:10px;
  width:10px;
  border-radius:50%;
  position:fixed;
margin-left:166px;
margin-top:58px;
opacity:70%;
}

#cuellojersey{
  background:white;
  width:220px;
  height:70px;
  position:fixed;
  margin-top:400px;
   border:3px solid black;
   border-radius:22px;
}

#star{
  position:fixed;
  height:1100px;
  width:1100px;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
background:radial-gradient(circle, rgba(255,0,179,0.04802458708708712) 0%, rgba(255,142,211,0.7267032657657657) 24%, rgba(255,0,83,1) 74%, rgba(255,255,255,1) 91%, rgba(203,0,172,0.5795561186186187) 100%)

}
