*{
    margin: 0 auto;
    padding: 0;
    
}
body{
    min-height: 100vh;
    background: rgb(255,154,124);
    background: radial-gradient(circle, rgba(255,154,124,1) 0%, rgba(255,245,239,1) 86%);

}

#nombre{
    margin-top:10%;
    margin-bottom: 5%;
    height: 100px;
    width: 2000px;
    font-family: 'WindSong', cursive;
    font-size: 80pt;
    color: #90BD43;
    font-weight:300;
    text-align: center;
    opacity: 60%;
}

#contenedor{
border: solid 2pt;
    height: 1000px;
    width: 2200px;
∫}


#redonda{
    position: absolute;
    top:0%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    height: 200pt;
    width: 200pt;
    background: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 2));
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 2);
}

    p{
        position: absolute;
        top:72%;
        left:50%;
        transform: translate(-50%,-72%);
        font-family: 'Inconsolata', monospace;
        font-size: 30pt;
        color: #90BD43

    }

.acts{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    width: 1600px;
    height: 250px;
    float:left;
}

.rec2{
    height: 250px;
    width: 400px;
    background-color: aliceblue;
    display: flex;
}



#act3{
    float:left;
}

.miniatura{
    height: 200px;
    width: 200px;
    background-color: white;;

}


#mini2{
    margin-right:10px;
}

#mini3{
    margin-left:10px
}

#act5{
}


#comp1{
    width: auto;
    height: 250px;
    background-color: peachpuff;
    display: flex;
    justify-content: center;
    margin:0;
}

#comp2{
    width: auto;
    height: 250px;
    background-color: peachpuff;
    display: flex;
    justify-content: center;
    margin:0;
margin-top:3%;}

#comp3{
    width: auto;
    height: 250px;
    background-color: peachpuff;
    display: flex;
    justify-content: center;
    margin:0;
margin-top:3%;}

#icon{
    height: 20pxpx;
    width: 20pt;
    float:left;
    position:absolute;
    left:15%;
    padding-top:950px;
}
